/* ! Se recomienda instalar la ext. 'Better Comments' de VSC para tener mejor entendimiento de los comentarios*/

:root{
        /* Coloresgenerales*/
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisOclaro: #ebebeb;
    --verde: #39b54a;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

h3{
    /* Son los titulos de seccion(Ultima visita, ofertas)*/
    font: size 24px;
}

.price{
    font-size: 18px;
}

.discount{
    font-size:16px;
}

.h4{
    /* Description de cada articulo*/
    font-size:16px;
}

.footers{
    text-align: center;
}

div.footers i{
    font-size: 2em;
}